<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BCCursos - Sistema de Cursos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/login.css" />
</head>
<body class="d-flex align-items-center justify-content-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <img src="static/images/logobcc.jpg" alt="BCCursos" class="img-fluid mb-3" />
                        <h4>Login</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" />
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input type="password" class="form-control" id="senha" placeholder="Senha" />
                            </div>
                            <button type="button" class="btn btn-primary btn-block" onclick="entrar()">Entrar</button>
                            <div id="alert-container" class="mt-3"></div>
                            <div class="text-center mt-3">
                                <a href="esqueci_senha.html">Esqueci minha senha</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const API_URL = "{{ api_url }}";

        async function entrar() {
            var email = document.getElementById("email").value;
            var senha = document.getElementById("senha").value;

            try {
                const response = await fetch(`${API_URL}/auth/login`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email: email, senha: senha }),
                });

                const alertContainer = document.getElementById('alert-container');
                alertContainer.innerHTML = '';  // Clear any previous alerts

                if (response.ok) {
                    const data = await response.json();
                    const token = data.data;

                    const successAlert = document.createElement('div');
                    successAlert.className = 'alert alert-success';
                    successAlert.role = 'alert';
                    successAlert.innerText = 'Login bem-sucedido! Redirecionando para a página correta...';
                    alertContainer.appendChild(successAlert);

                    localStorage.setItem("bcc_token", token);

                    // Redirecionar para home
                    setTimeout(() => {
                        window.location.href = "home";
                    }, 2000);
                } else {
                    const errorAlert = document.createElement('div');
                    errorAlert.className = 'alert alert-danger';
                    errorAlert.role = 'alert';
                    errorAlert.innerText = 'Email ou senha incorretos.';
                    alertContainer.appendChild(errorAlert);
                }
            } catch (error) {
                console.error("Erro ao fazer login:", error);

                const errorAlert = document.createElement('div');
                errorAlert.className = 'alert alert-danger';
                errorAlert.role = 'alert';
                errorAlert.innerText = 'Ocorreu um erro ao tentar fazer login.';
                alertContainer.appendChild(errorAlert);
            }
        }
    </script>
</body>
</html>
